<ion-header>
  <ion-navbar>
    <ion-title>Set a Reminder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>
    Select times to receive notifications each day.
  </h2>

  <ion-list>
    <ng-container *ngFor="let reminder of reminders">
      <ion-item *ngIf="reminder.timestamp === ''">
        <ion-label>Select Time {{ reminder.id }}</ion-label>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="reminder.timestamp" (ionChange)="saveTime(reminder)"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="reminder.timestamp !== ''">
        <strong>{{ formatUSTimestamp(reminder.timestamp) }}</strong>
        <ion-icon name="trash" item-right (click)="deleteReminder(reminder)"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
