<ion-header>
  <ion-navbar>
    <ion-title>
      {{ videoTitle() }} Follow-up
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="shouldShowDidTrySkill()">
    <ion-card-header>
      <h2 class="wrap-text">
        While the video was playing, did you try doing the skill?
      </h2>
    </ion-card-header>

    <ion-item>
      <button ion-button clear large item-left (click)="didTrySkill()">
        <ion-icon name="thumbs-up" [color]="skillWasTried === true ? 'secondary' : ''"></ion-icon>
      </button>

      <button ion-button clear large item-right (click)="didNotTrySkill()">
        <ion-icon name="thumbs-down" [color]="skillWasTried === false ? 'secondary' : ''"></ion-icon>
      </button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="shouldShowDidLikeVideo()">
    <ion-card-header>
      <h2 class="wrap-text">
        Did you like the video?
      </h2>
    </ion-card-header>

    <ion-item>
      <button ion-button clear large item-left (click)="didLikeVideo()">
        <ion-icon name="thumbs-up" [color]="videoWasLiked === true ? 'secondary' : ''"></ion-icon>
      </button>

      <button ion-button clear large item-right (click)="didNotLikeVideo()">
        <ion-icon name="thumbs-down" [color]="videoWasLiked === false ? 'secondary' : ''"></ion-icon>
      </button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="shouldShowConfidenceInCoping()">
    <ion-card-header>
      <h2 class="wrap-text">
        After watching and practicing, how confident are you that you can cope
        with an urge to smoke?
        <br /><br />
        1 is the least
        <br />
        5 is the most
      </h2>
    </ion-card-header>

    <ion-item>
      <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="confidenceInCoping" ion-text color="primary">
        <span range-left ion-text color="primary">1</span>
        <span range-right ion-text color="primary">5</span>
      </ion-range>
    </ion-item>
  </ion-card>

  <ion-list>
    <button ion-item full ion-text color="secondary" (click)="dismiss()" *ngIf="shouldShowConfidenceInCoping()">
      <h3 class="wrap-text">Save</h3>
    </button>
  </ion-list>
</ion-content>

