<ion-header>

  <ion-navbar>
    <ion-title>Watch</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list no-border>

    <ion-list-header>
      Videos
    </ion-list-header>

    <button ion-item
      *ngFor="let video of bundledVideos"
      (click)="openBundledModal(video)" icon-left>
      <ion-label ion-text color="secondary">
        {{ video.title }}
      </ion-label>
      <ion-icon ion-text color="secondary" name="videocam" item-left></ion-icon>
    </button>

    <button ion-item
      *ngFor="let video of streamingVideos | async"
      (click)="openStreamingModal(video)" icon-left>
      <ion-label [color]="onlineVideoClass()">
        {{ video.title }}
      </ion-label>
      <ion-icon ion-text color="secondary" name="videocam" item-left></ion-icon>
    </button>
  </ion-list>
</ion-content>

