# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

coverage/
node_modules/
www/assets/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
npm-debug.log
spec/screenshots/
.vscode
.tmp/
