// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

body {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.9rem;
}

/* yellow and blue positive */
ion-content {
  background-color: #ffce63;
}

.item {
  background-color: #fbf3be;
}

.toolbar-background {
  background-color: #ffce63;
}

ion-list > .item:first-child {
  border-top-color: #044362;
}

ion-list .item .item-inner {
  border-bottom-color: #044362;
}

ion-list > .item:last-child {
  border-bottom-color: #044362;
}

ion-footer-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

ion-label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.available {
  color: map-get($colors, secondary);
}

.unavailable {
  color: map-get($colors, light);
}

.bar-button {
  font-size: 1.7rem;
}

.full-width {
  width: 100%;
}

.item {
  h2, h3 {
    font-size: 1.8rem;
  }
}

.tall-button {
  height: 3.2em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}