// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

body {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.9rem;
}

ion-footer-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

ion-label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bar-button {
  font-size: 1.7rem;
}

.full-width {
  width: 100%;
}

.item {
  h2, h3 {
    font-size: 1.8rem;
  }
}

.tall-button {
  height: 3.2em;
}