<ion-header>

  <ion-navbar>
    <ion-title>My Top 3 Reasons to Quit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="additionalResponse.text" type="text" placeholder="Additional reason" (blur)="saveAdditionalResponse()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="saveEnabled">
    <ion-item *ngFor="let reason of sortedReasons | async">
      <ion-label class="wrap-text">{{ reason.text }}</ion-label>
      <ion-checkbox [disabled]="!isUpdateable(reason.checked)" [(ngModel)]="reason.checked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <span *ngIf="!saveEnabled">
    <span *ngFor="let reason of sortedReasons | async">
      <h2 *ngIf="isSaved(reason.checked)">{{ reason.text }}</h2>
    </span>
  </span>
</ion-content>

<ion-footer *ngIf="saveEnabled">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-text color="secondary" ion-button (click)="saveResponses()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
