<ion-header>

  <ion-navbar>
    <ion-title>Watch</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list no-border>

    <ion-list-header>
      Videos
    </ion-list-header>

    <ion-item
      *ngFor="let video of bundledVideos"
      (click)="openBundledModal(video)"
      class="item available">
      <ion-label>
        {{ video.title }}
      </ion-label>
      <ion-icon name='videocam' item-left></ion-icon>
    </ion-item>

    <ion-item
      *ngFor="let video of streamingVideos | async"
      (click)="openStreamingModal(video)"
      class="item {{ onlineVideoClass() }}">
      <ion-label>
        {{ video.title }}
      </ion-label>
      <ion-icon name='videocam' item-left></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
